<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title>Sticker Board</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <base href="{{ app.request.httpHost }}" />

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/png">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('public/skin/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('public/skin/bootstrap-responsive.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('public/skin/style.css') }}" type="text/css" media="screen, projection" />
        <!--[if lte IE 6]><link rel="stylesheet" href="{{ asset('public/skin/style_ie.css') }}" type="text/css" media="screen, projection" /><![endif]-->
    {% endblock %}

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('public/jslib/external/jquery-1.7.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('public/jslib/external/jquery-ui-1.8.18.custom.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('public/jslib/external/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('public/jslib/__core__.js') }}"></script>
        <script type="text/javascript" src="{{ asset('public/jslib/__helpers__.js') }}"></script>

        {#<script type="text/javascript" src="{{ asset('public/jslib/repo/Cookie/__init__.js') }}"></script>#}
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}{% endblock %}
<a href="https://github.com/dmkuznetsov/sticker-board" id="like" style="position:absolute;bottom: 5px;right: 10px;">Fork on Github</a>
</body>
</html>
